@model IEnumerable<lsb_03.Models.Course>
@{
    ViewBag.Title = "Home Page";
}

<div class="row text-danger">
    <ul>
        @foreach(var course in Model)
            {
                <li>
                    @course.DateTime-@course.Lecturer.Name
                </li>
            }
    </ul>
</div>

